<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>아이디 찾기</title>
</head>
<body>
<!-- TODO 039 아이디 찾기 화면 -->
	<div class="container">
		이름: <input name="name"><br>
		이메일: <input name="email"><br>
		<input type="button" value="아이디 찾기" onclick="findId()"><br>
		<input type="button" value="닫기" onclick="javascript:self.close()"><br>
		<p id="info"></p>
	</div>
	
<!-- TODO 040 아이디 찾기 fetch Ajax -->
	<script type="text/javascript">
		function findId(){
			var name = document.getElementsByName("name")[0].value;
			var email = document.getElementsByName("email")[0].value;
			
			var info = document.getElementById("info");
			
			//fetch Ajax를 전송
			//1. POST 전달, 전송할 데이터를 묶어서 보내줌, URLSearchParams()
			
			const paramData = new URLSearchParams();
			paramData.append("name", name);
			paramData.append("email", email);
			
			//2. fetch 실행
			fetch("./findId.do",{
				method:"post",
				headers:{
					"Content-Type":"application/x-www-form-urlencoded"
				},
				body: paramData
			})
			.then(response =>{
				if(!response.ok){
					throw new Error("네트워크에서 200을 반환하지 않음");
				}
				return response.text();	//서버에서의 응답 값을 text로 만들었다. text로 파싱하겠다
			})
			.then(data => {
				if(data == ""){
					info.innerHTML="아이디를 찾을 수 없습니다";
				} else{
					let msg = "회원님의 아이디는 ["+data+"] 입니다";
					info.innerHTML= msg;
				}
			})
			.catch(error => {
				console.log("ERROR :", error);
				alert("관리자에게 문의하세요");
			})
			
		}
	</script>
 </body>
</html>