<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원가입</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
  <!-- //TODO 025 회원가입 화면 ID 중복검사 window.open  -->
  <!-- //TODO 035 회원가입 정보 유효성검사 -->
  <script type="text/javascript">
  
  //TODO 025
  	function duplicate(){
	  window.open("./duplication.do","중복검사","width=500px, height=600px");
  }
  
  //TODO 035
  window.onload = function(){
	  document.querySelector("input[type=submit]").onclick = function(event){
		  event.preventDefault();
		  
		  var name = document.getElementById("name");
		  var id = document.getElementById("id");
		  var password = document.getElementById("pw");
		  var pwOk = document.getElementById("pwOk");
		  var email = document.getElementById("email");
		  
		  const emailRegEx = /^[a-zA-Z0-9, _%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
		  if(name.value.length <  2){
			  alert("정확한 성명을 작성해주세요");
			  return;
		  }
		  
		  if(password.value != pwOk.value){
			  alert("작성한 비밀번호가 일치하기 않습니다");
			  return;
			  
		  }
		  if(!email.value.match(emailRegEx)){
			  alert("잘못된 이메일 형식입니다");
			  return;
		  }
		  
		  document.forms[0].submit();
	  }
  }
  
  </script>
</head>
<body>
	<div class="container">
		<form th:action="@{/signUp.do}" method="post">
			<h3>회원가입</h3>
			<h3>필수 값은 반드시 입력해주세요</h3>
			<div>
				<input class="form-control" name="name" id="name" placeholder="이름 작성">
				<input class="form-control" name="id" id="id" placeholder="아이디 작성(클릭시 중복체크 화면으로 이동)" maxlength="10" onclick="duplicate()">
				<input class="form-control" type="password" name="password" id="pw" placeholder="비밀번호 작성">
				<input class="form-control" type="password" id="pwOk" placeholder="비밀번호 확인">
				<input class="form-control" name="email" id="email" placeholder="ex)info@example.com">
			</div>
			<div>
				<input type="submit" class="btn btn-primary" value="회원가입">
				<input type="button" class="btn btn-danger" value="가입취소" th:onclick="|javascript:history.back(-1)|">
			</div>
		</form>
	</div>
</body>
</html>