<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- TODO 005 User Mapper -->
<mapper namespace="com.min.edu.model.mapper.IUserDao">

<!-- 로그인     getLogin         -->
<select id="getLogin" resultType="UserVo">
		SELECT ID , NAME, EMAIL , AUTH , JOINDATE 
		 FROM MEMBER b
		 WHERE ID=#{id} AND PASSWORD =#{password}
</select>
<!-- 중복검사    isDuplicateCheck -->
<select id="isDuplicateCheck" resultType="java.lang.Integer">
	SELECT COUNT(*)
	 FROM MEMBER m 
	 WHERE ID=#{id}
</select>
<!-- 회원가입    signupMember     -->
<insert id="signupMember">
	INSERT INTO MEMBER 
	 VALUES ((SELECT 'user'||LPAD( MAX(SUBSTR(ID,5,2)) +1 , 2, '0')
  				FROM MEMBER m WHERE ID LIKE 'user__') , #{name}, #{password},
	             #{email}, 'ROLE_USER', 'Y',
	             CURRENT_DATE)
</insert>
<!-- 회원전체조회 userSelectAll    -->
<select id="userSelectAll" resultType="UserVo">
	SELECT ID, NAME 
	 FROM MEMBER m
	 WHERE AUTH ='ROLE_USER'
</select>

<!-- 회원전체조회 getAllUser       -->
<select id="getAllUser" resultType="UserVo">
	SELECT ID, NAME, PASSWORD , EMAIL , AUTH , ENABLE , JOINDATE 
	 FROM MEMBER m 
</select>

<!-- 회원검색    getSearcherUser  -->
<select id="getSearcherUser" resultType="UserVo">
	SELECT ID, NAME
	 	FROM MEMBER m 
 		WHERE  AUTH ='ROLE_USER' 
 		<choose>
 			<when test="opt.equals('id')">
 				AND ID LIKE '%'||#{keyword}||'%'
 			</when>
 			<otherwise>
 				 AND NAME LIKE '%'||#{keyword}||'%'
 			</otherwise>
 		</choose>
</select>

<!-- 아이디찾기  findId           -->
<select id="findId" resultType="java.lang.String">
	SELECT ID
	 FROM MEMBER m
	 WHERE NAME =#{name} AND EMAIL = #{email}
	 AND AUTH ='ROLE_USER'
</select>                         

<!-- 권한변경 setChageAuth --> 
<update id="setChangeAuth">
	UPDATE MEMBER SET  AUTH=#{authvalue}
	WHERE ID IN
	<foreach collection="checkid" item="id" open="(" separator="," close=")">
		#{id}
	</foreach>
</update>
</mapper>